<h1><%= tp("login_page") %></h1>
<h5><%= tp("no_account") %> <%= link_to tg("create_account"), user_create_path %></h5>

<%= form_with url: user_login_path do |form| %>
    <%= form.text_field :gg, hidden: true, value: @return_path %>
    <div class="text-field-container">
        <%= form.text_field :username, autofocus: true, autocomplete: false, placeholder: tg("email_or_username"), class: "text-field" %>
    </div>
    <div class="text-field-container">
        <%= form.password_field :password, autocomplete: false, placeholder: tg("password"), class: "text-field" %>
        <%= form.submit value: tp("login"), class: "form-submit" %>
    </div>
    <div class="flex items-center justify-center gap-1 m-2">
        <%= form.check_box :remember, checked: "checked", class: "border-teal-700 text-teal-700 focus:outline-none focus:ring-transparent rounded" %>
        <%= form.label :remember, tp("remember") %>
    </div>
<% end %>

<h5><%= tp("forgot_password") %> <%= link_to tp("reset"), user_password_reset_path %></h5>
