<%= content_for :js do %>
  <%= javascript_include_tag "api_navbar", defer: "defer" %>
<% end %>

<style>
  .sticky-sidebar {
    position: sticky;
    top: 75px;
    height: 100%;
  }

  .section {
    padding-top: 70px;
    margin-top: -50px;
  }
</style>


<div class="container-fluid mt-2">
  <div class="row">
    <div class="col-3 sticky-sidebar">
      <div id="api-nav-links" class="list-group">
        <%= link_to "Index", api_docs_path, class: "list-group-item list-group-item-action #{activate_tab?(:index)}" %>

        <%= link_to "Authentication", api_docs_authentication_path, class: "list-group-item list-group-item-action #{activate_tab?(:authentication)}" %>

        <%= link_to "General errors", api_docs_general_errors_path, class: "list-group-item list-group-item-action #{activate_tab?(:general_errors)}" %>

        <%= link_to "Bug reports", api_docs_bugs_path, class: "list-group-item list-group-item-action #{activate_tab?(:bugs)}" %>

        <%= link_to "Languages", api_docs_languages_path, class: "list-group-item list-group-item-action #{activate_tab?(:languages)}" %>

        <div class="list-group-item list-group-item-action" role="button" <%= collapse_tab?(:users) %>>
          <div class="dropdown-toggle">Users</div>
          <div id="users" class="collapse list-group list-group-flush mt-2 <%= show_tab?(:users) %>">

            <% links = [  ["create", "create"],
                          ["delete token", "delete_token"],
                          ["delete", "delete"],
                          ["login", "login"],
                          ["refresh", "refresh"],
                          ["data", "data"],
                          ["search", "search"],
                          ["quizzes", "user_quizzes"],
                          ["public", "public"],
                          ["update", "update"],
                          ["settings", "settings"]
                        ] %>

            <% links.each do |link_name, anchor| %>
              <%= link(method(:api_docs_users_path), link_name, anchor) %>
            <% end %>
          </div>
        </div>

        <div class="list-group-item list-group-item-action" role="button" <%= collapse_tab?(:quizzes) %>>
          <div class="dropdown-toggle">Quizzes</div>
          <div id="quizzes" class="collapse list-group list-group-flush mt-2 <%= show_tab?(:quizzes) %>">

            <% links = [  ["create", "create"],
                          ["delete token", "delete_token"],
                          ["delete", "delete"],
                          ["data", "data"],
                          ["search", "search"],
                          ["update", "update"],
                          ["favorites", "favorites"],
                          ["score", "score"],
                          ["reset score", "reset_score"]
                        ] %>

            <% links.each do |link_name, anchor| %>
              <%= link(method(:api_docs_quizzes_path), link_name, anchor) %>
            <% end %>
          </div>
        </div>

      </div>
    </div>

    <div class="col-9">
      <!-- content -->
      <%= yield %>
    </div>
  </div>
</div>
