<%= link_to quiz_show_path(quiz), id: quiz.id, class: "link-card", data: { title: quiz.title, translations: quiz.data.length, created: quiz.created_at.to_i, visibility: quiz.visibility } do %>
    <h3><%= quiz.title %></h3>
    <div class="row text-center">
        <% col = action_name == "quizzes" ? "col-md-4" : "col-md-3" %>
        <div class="<%= col %> text-truncate">
            <strong><%= t("partials.quiz_card.description") %></strong>: <%= quiz.description %>
        </div>
        <div class="<%= col %>">
            <strong><%= t("partials.quiz_card.translation_amount") %></strong>: <%= quiz.data.length %>
        </div>
        <div class="<%= col %>">
            <strong><%= t("partials.quiz_card.visibility") %></strong>: <%= tg("visibilities", quiz.visibility) %>
        </div>
        <% if action_name == "search" %>
            <div class="<%= col %>">
                <strong><%= t("partials.quiz_card.creator") %></strong>: <%= quiz.user.present? ? quiz.user.username : tg("deleted_user") %></strong>
            </div>
        <% end %>
    </div>
<% end %>