<!-- Here so that the colors are shipped by Tailwind -->
<span class="hidden text-green-600"></span>
<span class="hidden text-red-600"></span>
<span class="hidden text-black"></span>

<h1>Finance</h1>
<h2>Total: <span class="<%= Transaction.color %>"><%= @total %></span></h2>

<div class="flex justify-center items-center gap-2">
    <%= link_to "Create transaction", admin_new_transaction_path, class: "grow btn-primary" %>
    <%= link_to "Removed transactions", admin_removed_transactions_path, class: "grow btn-secondary" %>
</div>

<div class="mt-2 flex flex-col gap-2">
    <% @transactions.each do |transaction| %>
        <%= render partial: "transaction", locals: { transaction: } %>
    <% end %>
</div>
