<div class="mt-3 w-100 d-flex justify-content-center">
    <h1><%= tp("welcome") %></h1>
</div>
<div class="container">
    <div class="row text-center">
        <div class="col-sm-3"><h2><%= link_to tp("login"), user_login_path %></h2></div>
        <div class="col-sm-3"><h2><%= link_to tp("infos"), user_path %></h2></div>
        <div class="col-sm-3"><h2><%= link_to tp("create_account"), user_create_path %></h2></div>
        <div class="col-sm-3"><h2><%= link_to tp("logout"), user_logout_path %></h2></div>
    </div>
</div>
