<%= content_for :css do %>
    <%= stylesheet_link_tag "link_card" %>
    <%= stylesheet_link_tag "search_results" %>
<% end %>

<style>
    a:hover {
        color: black;
    }
</style>

<div class="container">
    <h1 class="my-4"><%= tp("results_for", params[:query]) %></h1>
    <div class="list-group list-group-horizontal text-center controls mb-2">
        <%= link_to search_path(category: "quizzes", query: params[:query], page: params[:page]), class: "list-group-item w-50 #{"active" if @quizzes}" do %>
            <h4 class="mb-0"><%= tp("quizzes") %></h4>
        <% end %>
        <%= link_to search_path(category: "users", query: params[:query], page: params[:page]), class: "list-group-item w-50 #{"active" unless @quizzes}" do %>
            <h4 class="mb-0"><%= tp("users") %></h4>
        <% end %>
    </div>

    <% for res in @results do %>
        <% if @quizzes %>
            <%= render partial: "partials/quiz_card", locals: {quiz: res} %>
        <% else %>
            <%= render partial: "user_card", locals: {user: res} %>
        <% end %>
    <% end %>
</div>