<h1><%= tp "title" %></h1>

<%= form_with url: user_edit_path, model: @user, method: :patch, class: "flex flex-col items-center" do |form| %>
    <div class="text-field-container items-center">
        <%= form.label :username, tg("username") %>
        <%= form.text_field :username, autocomplete: "username", class: "text-field" %>
    </div>
    <div class="text-field-container items-center">
        <%= form.label :email, tg("emails"), class: "text-nowrap" %>
        <%= form.text_field :email, autocomplete: "email", class: "text-field" %>
    </div>
    <div class="text-field-container items-center">
        <%= form.label :password, tg("password"), class: "text-nowrap" %>
        <%= form.password_field :password, class: "text-field" %>
    </div>
    <div class="text-field-container items-center">
        <%= form.label :password_confirmation, tp("password_repeat"), class: "text-nowrap" %>
        <%= form.password_field :password_confirmation, class: "text-field" %>
    </div>
    <div class="text-field-container items-center">
        <%= form.label :password_challenge, tp("old_password"), class: "text-nowrap" %>
        <%= form.password_field :password_challenge, class: "text-field" %>
    </div>
    <div class="mt-2 max-w-96 w-full flex gap-2">
        <%= form.submit tg("save"), class: "btn-success-sleek grow" %>
        <%= link_to tp("cancel"), user_path, class: "btn-secondary-sleek grow" %>
    </div>
<% end %>
