<h1><%= tp("create_account") %></h1>
<h4><%= tp("already_have_account") %> <%= link_to tp("login"), user_login_path %></h4>

<%= form_with url: user_create_path, model: @new_user do |form| %>
    <div class="text-field-container">
        <%= form.text_field :username, autofocus: true, autocomplete: false, placeholder: tp("username"), class: "text-field" %>
    </div>
    <div class="text-field-container">
        <%= form.text_field :email, autocomplete: false, placeholder: tp("email"), class: "text-field" %>
    </div>
    <div class="text-field-container">
        <%= form.password_field :password, autocomplete: false, placeholder: tp("password"), class: "text-field" %>
    </div>
    <div class="text-field-container flex">
        <%= form.password_field :password_confirmation, autocomplete: false, placeholder: tp("repeat_password"), class: "text-field" %>
        <%= form.submit value: tp("submit_create_account"), class: "form-submit" %>
    </div>
    <div class="flex items-center justify-center gap-1 m-2">
        <%= form.check_box :agb, class: "border-teal-700 text-teal-700 focus:outline-none focus:ring-transparent rounded" %>
        <%= form.label :agb, tp("accept_agb") %>
    </div>
<% end %>
