<div class="container" data-controller="sort-quizzes">
    <h1 class="my-4"><%= tp("my_quizzes") %></h1>

    <div id="query-area" class="mb-2">
        <div class="row">
            <div class="col-sm-8 form-group pe-0">
                <div class="d-flex">
                    <button data-action="click->sort-quizzes#sort" class="btn btn-primary me-2"><%= tp("search") %></button>
                    <input data-sort-quizzes-target="titleQuery" data-action="keydown.enter->sort-quizzes#sort" type="text" class="form-control" placeholder="<%= tp("type_title") %>" data-error="<%= tp("must_be_filled") %>">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="input-group">
                    <span class="fs-6 input-group-text"><%= tp("sort") %></span>
                    <select data-action="click->sort-quizzes#sort" data-sort-quizzes-target="order" class="form-select">
                        <option value="newest"><%= tp("sort_options.last_created") %></option>
                        <option value="oldest"><%= tp("sort_options.first_created") %></option>
                        <option value="most_translations"><%= tp("sort_options.most_translations") %></option>
                        <option value="least_translations"><%= tp("sort_options.least_translations") %></option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="quiz-container" data-sort-quizzes-target="quizzes">
        <% for quiz in @quizzes do %>
            <%= render partial: "partials/quiz_card", locals: { quiz: quiz } %>
        <% end %>
    </div>
</div>