<div class="position-fixed w-100 d-flex justify-content-center pe-none sticky-top" style="margin-top: 20px;" z-index="2000">
    <div id="deleteToast" class="toast bg-white" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
        <div class="toast-body">
            <%= tp("sure_to_delete") %>
            <div class="mt-2 pt-2 border-top">
                <%= link_to tp("delete"), user_delete_path(@token), class: "btn btn-danger btn-sm", id: "delete-btn", data: {
                    turbo_method: :delete
                } %>
                <%= link_to tp("cancel"), user_path, class: "btn btn-secondary btn-sm" %>
            </div>
        </div>
    </div>
</div>

<div class="container text-center" data-controller="toast-button" data-target="#deleteToast">
    <h1><%= tp("delete_account") %></h1>
    <h3><%= tp("not_reversible") %></h3>
    <br>
    <button type="button" class="btn btn-danger btn-lg" id="deleteToastBtn" data-action="toast-button#show"><%= tp("delete") %></button>
</div>