<h1><%= tp("settings") %></h1>

<%= form_with url: user_settings_path, model: @user.setting do |form| %>
    <div class="flex justify-center">
        <div class="grow max-w-3xl divide-y">
            <% Setting::SETTING_KEYS.each do |key| %>
                <div class="flex justify-between items-center py-2">
                    <div>
                        <%= tg "settings.#{key}" %>
                    </div>
                    <%= form.check_box key, class: "switch" %>
                </div>
            <% end %>
        </div>
    </div>
    <div class="flex justify-center my-2">
        <%= form.submit value: tp("save"), class: "btn-success" %>
    </div>
<% end %>
