<h1><%= tp("settings") %></h1>

<%= form_with url: user_settings_path, model: @user.setting do |form| %>
    <div class="flex justify-center">
        <div class="grow max-w-3xl divide-y dark:divide-gray-800">
            <div class="flex justify-between items-center py-2">
                <%= form.label :select, tp("language") %>
                <div class="flex items-center gap-2">
                    <%= image_tag "flags/#{@user.setting.locale}.jpg", class: "h-6 rounded" %>
                    <%= form.select :locale, Setting::LOCALES.map { |l| [tg("languages.#{l}"), l] }, {}, { class: "rounded border-none focus:ring-0 cursor-pointer hover:bg-gray-100 dark:bg-gray-900 dark:hover:bg-gray-800" } %>
                </div>
            </div>

            <div class="flex justify-between items-center py-2">
                <%= form.label :dark_mode, tg("settings.dark_mode") %>
                <%= form.check_box :dark_mode, class: "switch" %>
            </div>

            <div class="flex flex-col md:flex-row gap-2 items-center py-2">
                <span><%= tp "round_amount" %></span>
                <div class="flex gap-2 items-center grow w-full md:w-fit">
                    <!-- Required for tailwind to include the classes... -->
                    <span class="hidden peer/5 peer-checked/5:bg-blue-600 peer-checked/5:text-white"></span>
                    <span class="hidden peer/10 peer-checked/10:bg-blue-600 peer-checked/10:text-white"></span>
                    <span class="hidden peer/20 peer-checked/20:bg-blue-600 peer-checked/20:text-white"></span>
                    <span class="hidden peer/30 peer-checked/30:bg-blue-600 peer-checked/30:text-white"></span>
                    
                    <% Setting::ROUND_AMOUNTS.each do |amount| %>
                        <%= form.radio_button :round_amount, amount, class: "hidden peer/#{amount}" %>
                        <%= form.label :round_amount, amount, value: amount, class: "grow basis-0 text-center p-2 border-gray-300 dark:border-gray-700 border rounded cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-800 transition-colors peer-checked/#{amount}:bg-blue-600 peer-checked/#{amount}:text-white" %>
                    <% end %>
                </div>
            </div>

            <% %i[cards_amount multi_amount write_amount].each do |key| %>
                <div class="flex justify-between items-center py-2">
                    <div>
                        <%= tg "settings.#{key}" %>
                    </div>
                    <%= form.number_field key, min: 1, max: 3, class: "dark:bg-gray-900 focus:ring-teal-700 focus:border-teal-700 dark:border-gray-700 border-gray-300 rounded" %>
                </div>
            <% end %>
        </div>
    </div>
    <div class="flex justify-center my-2">
        <%= form.submit value: tp("save"), class: "btn-success" %>
    </div>
<% end %>
