<div class="container text-center" style="max-width: 750px">
    <h1 class="my-4"><%= tp("settings") %></h1>
    <%= form_with url: user_settings_path, model: @user.setting do |form| %>
        <div class="d-flex justify-content-around">
            <%= form.label :locale, tg("language"), class: "fs-4"  %>
            <%= form.select :locale, language_select, {}, { class: "form-select", style: "max-width: 200px" } %>
        </div>
        <hr>

        <%= settings_form form, @user.setting, [
            {attr: :show_email, hr: true},
            {attr: :dark_mode, hr: false}
        ] %><br>
        <%= form.submit value: tp("save"), class: "btn btn-lg btn-success" %>
    <% end %>
</div>