<h1><%= title %></h1>

<%= form_with model: @quiz, method:, url: do |form| %>
    <div class="flex justify-center">
        <div class="grow max-w-5xl space-y-2">
            <div class="flex md:flex-row flex-col gap-2">
                <div class="md:grow flex sm:flex-row flex-col rounded border border-gray-300">
                    <span class="py-2 px-5 text-center sm:text-start text-xl bg-gray-200"><%= tp "title" %></span>
                    <%= form.text_field :title, placeholder: tp("title_placeholder"), class: "text-field sm:m-px rounded rounded-t-none sm:rounded-e sm:rounded-s-none focus:ring-2 focus:ring-teal-600" %>
                </div>
                <%= form.select :visibility, Quiz::VISIBILITIES.map { |v| [tg("visibilities.#{v}"), v] }, {}, { class: "rounded border-gray-300 focus:ring-1 focus:ring-teal-600 focus:border-teal-600" } %>
            </div>
            <div class="flex sm:flex-row flex-col rounded border border-gray-300">
                <div class="flex items-center justify-center py-2 px-5 bg-gray-200">
                    <span class="text-xl"><%= tp "description" %></span>
                </div>
                <%= form.text_area :description, placeholder: tp("description_placeholder"), class: "text-field sm:m-px rounded rounded-t-none sm:rounded-e sm:rounded-s-none focus:ring-2 focus:ring-teal-600 min-h-10" %>
            </div>
            <div class="flex md:flex-row flex-col gap-2">
                <%= render partial: "translation_lang", locals: { form: form, field: :from, name: tp("lang_1") } %>
                <%= render partial: "translation_lang", locals: { form: form, field: :to, name: tp("lang_2") } %>
            </div>
            <div data-controller="create-quiz" class="space-y-2">
                <div data-create-quiz-target="translations" class="space-y-2">
                    <%= form.fields_for :translations, @quiz.translations.order(created_at: :asc) do |translation_form| %>
                        <%= render partial: "translation_form", locals: { translation_form: } %>
                    <% end %>
                </div>
                <button data-action="create-quiz#add_translation" class="btn-primary-sleek w-full"><%= tp "add_translation" %></button>
            </div>
            <div class="flex justify-around gap-2">
                <%= form.submit commit, class: "btn-success text-xl" %>
                <%= link_to tp("cancel"), user_path, class: "btn-primary text-xl" %>
            </div>
        </div>
    </div>
<% end %>
