<div
    data-controller="delete-translation"
    class="relative flex rounded sm:flex-row flex-col border border-gray-300 sm:divide-y-0 sm:divide-x divide-x-0 divide-y divide-gray-300 dark:border-gray-700 dark:divide-gray-700"
>
    <div class="absolute pointer-events-none w-full h-full flex items-center px-2">
        <div
            data-delete-translation-target="strikeThrough"
            data-create-quiz-target="strikeThrough"
            class="hidden border-t border-gray-500 w-full">
        </div>
    </div>
    <%= translation_form.text_field :_destroy, hidden: true, value: "0", data: { delete_translation_target: "field", create_quiz_target: "destroy" } %>
    <%= translation_form.text_field :word, placeholder: tp("word"), data: { create_quiz_target: "input" }, class: "w-1/2 rounded-t sm:rounded-e-none sm:rounded-s focus:outline-2 focus:outline-teal-600 focus:-outline-offset-2 border-none focus:ring-0 dark:bg-gray-900" %>
    <%= translation_form.text_field :translation, placeholder: tp("translation"), data: { create_quiz_target: "input" }, class: "grow focus:outline-2 focus:-outline-offset-2 focus:outline-teal-600 focus:ring-0 dark:bg-gray-900" %>
    <div data-action="click->delete-translation#toggle" class="px-2 py-1 flex justify-center items-center gap-2 cursor-pointer" title="<%= tp("remove_translation") %>">
        <svg xmlns="http://www.w3.org/2000/svg" height="26px" class="fill-gray-500 hover:fill-black transition-colors dark:fill-gray-500 dark:hover:fill-white" viewBox="0 0 10 10" fill="none">
            <path d="M 2 1 C 1 0 0 1 1 2 L 8 9 C 9 10 10 9 9 8 Z" />
            <path d="M 8 1 C 9 0 10 1 9 2 L 2 9 C 1 10 0 9 1 8 Z" />
        </svg>
        <span class="sm:hidden text-xl"><%= tp "remove_translation" %></span>
    </div>
</div>