<%= content_tag :div, data: {
    controller: "learn--cards",
    access_token: @access_token,
    quiz_uuid: @quiz.uuid,
    done_text: tp("done")
} do %>
    <div class="flex justify-center">
        <div class="flip-card-container" data-action="click->learn--cards#flip">
            <div data-learn--cards-target="flipCard" class="flip-card">
                <div data-learn--cards-target="word" class="flip-card-side"></div>
                <div data-learn--cards-target="translation" class="flip-card-side flip-card-back"></div>
            </div>
        </div>
    </div>

    <div class="flex justify-center">
        <div class="w-[800px]">
            <div class="rounded-full my-2 h-2 bg-blue-600 dark:bg-blue-800">
                <div data-learn--cards-target="progress" class="cards-progress-bar rounded-full h-2 bg-green-700 dark:bg-teal-700"></div>
            </div>

             <div data-learn--cards-target="learning" class="flex flex-col sm:flex-row gap-2 items-center justify-center">
                <div class="btn-primary text-xl grow basis-0 w-full" data-action="click->learn--cards#learn_again"><%= tp("learn_again") %></div>
                <div class="btn-success text-xl grow basis-0 w-full" data-action="click->learn--cards#understood"><%= tp("understood") %></div>
            </div>    
            <div class="hidden" data-learn--cards-target="done">
                <div class="btn btn-lg btn-success w-100" data-action="click->learn--cards#reset"><%= tp("start_over") %></div>
            </div>

            <div class="flex flex-col sm:flex-row items-center justify-center">
                <h4 class="grow basis-0"><%= tp("not_learned") %> <span data-learn--cards-target="unlearned"></span></h4>
                <h4 class="grow basis-0"><%= tp("learned") %> <span data-learn--cards-target="learned"></span></h4>
            </div>
        </div>
    </div>
<% end %>
