<style>
    .show_controls {
        cursor: pointer;
        text-decoration: underline;
    }
</style>

<div class="container">
    <div class="text-center my-4">
        <h1>
            <%= @quiz.title %>
            <% if current_user != @quiz.user %>
                <% if @quiz.user.present? %>
                    <%= tp("created_by", link_to(@quiz.user.username, user_public_path(@quiz.user.username)), true) %>
                <% else %>
                    <%= tp("created_by", tg("deleted_user")) %>
                <% end %>
            <% end %>
        </h1>
        <div data-controller="show-more">
            <h4 class="text-truncate mb-0" data-show-more-target="target"><%= @quiz.description %></h4>
            <div class="text-center pb-2 d-block" data-show-more-target="showMore">
                <span class="show_controls" data-action="click->show-more#show_more"><%= tg("show_more") %></span>
            </div>
            <div class="text-center pb-2 d-none" data-show-more-target="showLess">
                <span class="show_controls" data-action="click->show-more#show_less"><%= tg("show_less") %></span>
            </div>
        </div>
        
        <p class="text-center">
            <%= link_to tp("cards"), quiz_cards_path(@quiz), class: "btn btn-primary" %>
            <% if @user == @quiz.user %>
                <%= link_to tp("edit"), quiz_edit_path(@quiz), class: "btn btn-primary" %>
                <%= link_to tp("delete"), quiz_request_destroy_path(@quiz), class: "btn btn-danger" %>
            <% end %>
        </p>

        <ul id="translations" class="list-group list-group-horizontal fs-5">
            <li class="list-group-item w-50 p-0">
                <ul class="list-group list-group-flush">
                    <% for translation in @quiz.data do %>
                        <li class="list-group-item"><%= translation[:w] %></li>
                    <% end %>
                </ul>
            </li>

            <li class="list-group-item w-50 p-0">
                <ul class="list-group list-group-flush">
                    <% for translation in @quiz.data do %>
                        <li class="list-group-item"><%= translation[:t] %></li>
                    <% end %>
                </ul>
            </li>
        </ul>
    </div>
</div>
