<h1><%= @quiz.title %></h1>

<% if @quiz.description.present? %>
    <h4 class="line-clamp-3"><%= @quiz.description %></h4>
<% end %>

<div class="flex md:flex-row flex-col gap-2">
    <%= link_to tp("cards"), quiz_cards_path, class: "btn-primary grow basis-0" %>
    <%= link_to tp("write"), quiz_write_path, class: "btn-primary grow basis-0" %>
    <% if @quiz.user == @user %>
        <%= link_to tp("edit"), quiz_edit_path, class: "btn-primary grow basis-0" %>
        <%= link_to tp("delete"), quiz_request_destroy_path, class: "btn-danger grow basis-0" %>
    <% end %>
</div>

<div class="rounded mt-2 border divide-gray-300 divide-y border-gray-300">
    <% if @quiz.translations.count.positive? %>
        <% @quiz.translations.each do |translation| %>
            <div class="flex divide-x divide-gray-300">
                <div class="grow basis-0 p-2"><%= translation.word %></div>
                <div class="grow basis-0 p-2"><%= translation.translation %></div>
            </div>
        <% end %>
    <% else %>
        <h4><%= tp "no_translations" %></h4>
    <% end %>
</div>
