<h1><%= @quiz.title %></h1>
<% unless @user == @quiz.user || @quiz.user.nil? %>
    <h3 class="text-gray-600 dark:text-gray-500"><%= tp("created_by", user: link_to(@quiz.user.username, user_public_path(@quiz.user.username))).html_safe %></h3>
<% end %>

<% if @quiz.description.present? %>
    <div data-controller="show-more">
        <h4 data-show-more-target="target" class="line-clamp-3"><%= @quiz.description %></h4>
        <h4
            data-show-more-target="showMore"
            data-action="click->show-more#show_more"
            class="hidden underline cursor-pointer"
        ><%= tg "show_more" %></h4>
        <h4
            data-show-more-target="showLess"
            data-action="click->show-more#show_less"
            class="hidden underline cursor-pointer"
        ><%= tg "show_less" %></h4>
    </div>
<% end %>

<div class="flex md:flex-row flex-col gap-2">
    <%= link_to tp("cards"), quiz_cards_path, class: "btn-primary grow basis-0" %>
    <%= link_to tp("write"), quiz_write_path, class: "btn-primary grow basis-0" %>
    <% if @quiz.user == @user %>
        <%= link_to tp("edit"), quiz_edit_path, class: "btn-primary grow basis-0" %>
        <%= link_to tp("delete"), quiz_request_destroy_path, class: "btn-danger grow basis-0" %>
    <% end %>
</div>

<div class="rounded mt-2 border divide-gray-300 divide-y border-gray-300 dark:border-gray-700 dark:divide-gray-700">
    <% if @quiz.translations.count.positive? %>
        <% @quiz.translations.order(created_at: :asc).each do |translation| %>
            <div class="flex divide-x divide-gray-300 dark:divide-gray-700">
                <div class="grow basis-0 p-2"><%= translation.word %></div>
                <div class="grow basis-0 p-2"><%= translation.translation %></div>
            </div>
        <% end %>
    <% else %>
        <h4><%= tp "no_translations" %></h4>
    <% end %>
</div>
