<div class="mb-2 md:mb-0 flex flex-col md:flex-row justify-center items-center md:gap-2">
    <h1 class="text-3xl md:text-4xl"><%= @quiz.title %></h1>
    <% if logged_in? %>
        <%= link_to quiz_favorite_path, data: { turbo_method: :patch } do %>
            <%= render partial: "svgs/star", locals: { height: "35px", filled: @user.favorite_quizzes.find_by(quiz_id: @quiz.id).present? } %>
        <% end %>
    <% end %>
</div>

<h3 class="text-gray-600 dark:text-gray-500">
    <%= link_to t(".admin_edit"), admin_quiz_edit_path(@quiz.uuid) %>
</h3>

<% unless @user == @quiz.user || @quiz.user.nil? %>
    <h3 class="text-gray-600 dark:text-gray-500"><%= tp("created_by", user: link_to(@quiz.user.username, user_public_path(@quiz.user.username))).html_safe %></h3>
<% end %>

<% if @quiz.description.present? %>
    <div data-controller="show-more">
        <h4 data-show-more-target="target" class="line-clamp-3"><%= @quiz.description %></h4>
        <h4
            data-show-more-target="showMore"
            data-action="click->show-more#show_more"
            class="hidden underline cursor-pointer"
        ><%= tg "show_more" %></h4>
        <h4
            data-show-more-target="showLess"
            data-action="click->show-more#show_less"
            class="hidden underline cursor-pointer"
        ><%= tg "show_less" %></h4>
    </div>
<% end %>

<div class="flex md:flex-row flex-col gap-2">
    <%= link_to tp("cards"), quiz_cards_path, class: "btn-primary grow basis-0" %>
    <%= link_to tp("write"), quiz_write_path, class: "btn-primary grow basis-0" %>
    <%= link_to tp("multiple_choice"), quiz_multi_path, class: "btn-primary grow basis-0" %>
    <%= link_to tp("smart"), quiz_smart_path, class: "btn-primary grow basis-0" %>
    <% if @quiz.user == @user %>
        <%= link_to tp("edit"), quiz_edit_path, class: "btn-primary grow basis-0" %>
        <%= link_to tp("delete"), quiz_request_destroy_path, class: "btn-danger grow basis-0" %>
    <% end %>
</div>

<div class="rounded mt-2 border divide-gray-300 divide-y border-gray-300 dark:border-gray-700 dark:divide-gray-700">
    <% @learn_data.each do |translation| %>
        <div class="flex divide-x divide-gray-300 dark:divide-gray-700">
            <div class="grow basis-0 p-2 overflow-clip"><%= translation[:word] %></div>
            <div class="grow basis-0 overflow-clip">
                <div class="flex divide-gray-300 dark:divide-gray-700 divide-x">
                    <div class="p-2 grow"><%= translation[:translation] %></div>
                    <div 
                        data-controller="translation-favorite"
                        data-action="click->translation-favorite#toggle"
                        data-favorite="<%= translation[:favorite] %>"
                        data-score-id="<%= translation[:score_id] %>"
                        data-quiz-id="<%= @quiz.uuid %>"
                        data-access-token="<%= @access_token %>"
                        data-error="<%= tp("score_favorite_error") %>"
                        class="px-2 flex items-center cursor-pointer"
                    >
                        <div
                            data-translation-favorite-target="star"
                            class="<%= "hidden" unless translation[:favorite] %>"
                        >
                            <%= render partial: "svgs/star", locals: { height: "25px", filled: true } %>
                        </div>
                        <div
                            data-translation-favorite-target="star"
                            class="<%= "hidden" if translation[:favorite] %>"
                        >
                            <%= render partial: "svgs/star", locals: { height: "25px", filled: false } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>
