<div class="d-flex justify-content-center mt-3">
    <div class="text-center">
        
        <% request_new = tp("request_new", replace: link_to(tp("here"), user_verification_send_path), html_safe: true) %>
        <% if @user.verified? %>
            <h1><%= tp("success") %></h1>
            <h3><%= tp("can_leave") %></h3>

        <% elsif params[:expired].present? %>
            <h1><%= tp("expired") %></h1>
            <h3><%= request_new %></h3>

        <% else %>
            <h1><%= tp("wrong") %></h1>
            <h3><%= request_new %></h3>

        <% end %>

        <%= image_tag "freequiz/freequiz_logo_big.png", height: "300vh", class: "mt-3" %>
    </div>
</div>