<div class="card" data-href="<%= admin_user_edit_path(user.username) %>">
    <div class="container-fluid px-1">
        <div class="row">
            <div class="col-md-4">
                <div>
                    Username: <%= user.username %>
                </div>
                <div>
                    E-mail: <%= user.email %>
                </div>
                <div>
                    Role: <%= user.role %>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    Total Quizzes: <%= user.quizzes.length %>
                </div>
                <div>
                    E-mail confirmed: <%= user.verified? %>
                </div>
                <div>
                    Confirmed at: <%= user.confirmed_at %>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    Created at: <%= user.created_at %>
                </div>
                <div>
                    Updated at: <%= user.updated_at %>
                </div>
                <div>
                    Last login at: <%= user.last_sign_in_at %>
                </div>
            </div>
        </div>
    </div>
</div>