<div class="card" href="<%= admin_user_edit_path(user.username) %>">
    <div class="container-fluid px-1">
        <div class="row">
            <div class="col-md-4">
                <div>
                    Username: <%= user.username %>
                </div>
                <div>
                    E-mail: <%= user.email %>
                </div>
                <div>
                    Role: <%= user.role %>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    Total Quizzes: <%= user.quizzes.length %>
                </div>
                <div>
                    E-mail confirmed: <%= user.verified? %>
                </div>
                <% if user.confirmed_at.present? %>
                    <div>
                        Confirmed <%= distance_of_time_in_words_to_now(user.confirmed_at, locale: :en) %> ago
                    </div>
                <% end %>
            </div>
            <div class="col-md-4">
                <div>
                    Created <%= distance_of_time_in_words_to_now(user.created_at, locale: :en) %> ago
                </div>
                <div>
                    Updated <%= distance_of_time_in_words_to_now(user.updated_at, locale: :en) %> ago
                </div>
                <div>
                    Last login <%= distance_of_time_in_words_to_now(user.current_sign_in_at, locale: :en) %> ago
                </div>
            </div>
        </div>
    </div>
</div>