<%= form_with model: @user_target, url: admin_user_edit_path(@user_target.username) do |form| %>
    <div class="md:grid space-y-2 md:space-y-0 gap-2 grid-flow-row grid-cols-2">
        <div class="rounded border border-gray-300 divide-x divide-gray-300 dark:border-gray-700 dark:divide-gray-700 flex">
            <%= form.label :username, "Username", class: "p-2 rounded-s bg-gray-200 dark:bg-gray-800" %>
            <%= form.text_field :username, class: "grow rounded-e border-0 border-s focus:ring-0 overflow-hidden dark:bg-gray-900" %>
        </div>
        <div class="rounded border border-gray-300 divide-x divide-gray-300 dark:border-gray-700 dark:divide-gray-700 flex">
            <%= form.label :email, "E-mail", class: "text-nowrap p-2 rounded-s bg-gray-200 dark:bg-gray-800" %>
            <%= form.text_field :email, class: "grow rounded-e border-0 border-s focus:ring-0 overflow-hidden dark:bg-gray-900" %>
        </div>
        <div class="rounded border border-gray-300 divide-x divide-gray-300 dark:border-gray-700 dark:divide-gray-700 flex">
            <%= form.label :role, "Role", class: "p-2 rounded-s bg-gray-200 dark:bg-gray-800" %>
            <%= form.select :role, User::ROLES.map { |r| [tg("roles.#{r}"), r] }, {}, { class: "grow rounded-e border-0 border-s focus:ring-0 cursor-pointer dark:bg-gray-900" } %>
        </div>
        <div class="rounded border border-gray-300 divide-x divide-gray-300 dark:border-gray-700 dark:divide-gray-700 flex">
            <%= form.label :confirmed, "E-mail confirmed", class: "text-nowrap p-2 rounded-s bg-gray-200 dark:bg-gray-800" %>
            <%= form.select :confirmed, [["Yes", true], ["No", false]], {}, { class: "grow rounded-e border-0 border-s focus:ring-0 cursor-pointer dark:bg-gray-900" } %>
        </div>
        <div class="flex"><%= form.submit "Save", class: "btn-success-sleek grow" %></div>
        <div class="flex"><%= link_to "Cancel", admin_users_path, class: "btn-secondary-sleek grow" %></div>
        <br class="md:hidden">
        <div class="flex"><%= link_to "Send E-mail", admin_user_send_email_path(@user_target.username), class: "btn-primary-sleek grow" %></div>
        <div class="flex"><%= link_to "Send verification E-mail", admin_user_send_verification_path(@user_target.username), class: "btn-primary-sleek grow" %></div>
        <div class="flex"><%= link_to "Send password reset E-mail", admin_user_send_password_reset_path(@user_target.username), class: "btn-primary-sleek grow" %></div>
        <br class="md:hidden">
        <div class="flex"><%= link_to "Delete account", admin_user_delete_path(@user_target.username), class: "btn-danger-sleek grow" %></div>
    </div>
<% end %>
