<h1>Send E-mail</h1>
<h4>Send an E-mail to the user <%= @user.username %> (<%= @user.email %>)</h4>

<%= form_with url: admin_user_send_email_path(@user.username) do |form| %>
    <div class="flex flex-col gap-2">
        <div class="flex rounded border border-gray-300 divide-x divide-gray-300">
            <%= form.label :subject, "Subject", class: "p-2 rounded-s bg-gray-100" %>
            <%= form.text_field :subject, class: "grow rounded-e border-0 border-s focus:ring-0" %>
        </div>
        <%= form.text_area :body, placeholder: "E-mail body", rows: 10, class: "rounded border-gray-300 focus:ring-teal-700 focus:border-teal-700" %>
        <%= form.submit "Send", class: "btn-success text-lg" %>
    </div>
<% end %>
