<div class="container">
    <h1 class="text-center my-4">
        <% if @category == "all" %>
            All bug reports
        <% else %>
            Bug reports with status <%= @category.downcase %>
        <% end %>
    </h1>

    <ul class="list-group list-group-horizontal-sm my-2">
        <%= link_to "All (#{BugReport.count})", bugs_path(), class: "list-group-item cat-nav #{"active" if @category == "all"}" %>
        <% for category in BugReport::STATUSES do %>
            <% bug_amount = BugReport.where(status: category).count %>
            <%= link_to "#{category.capitalize} (#{bug_amount})", bugs_path(category: category), class: "list-group-item cat-nav #{"active" if @category == category}" %>
        <% end %>
    </ul>

    <% for bug in @bug_reports do %>
        <%= link_to bug_path(bug), class: "link-card" do %>
            <span class="d-flex justify-content-between">
                <div class="d-flex">
                    <h4 class="m-0"><%= bug.title %></h4>
                    <div class="status status-<%= bug.status %>"><%= bug.status.capitalize %></div>
                </div>
                <div class="float-end">Created <%= distance_of_time_in_words_to_now(bug.created_at, locale: :en) %> ago</div>
            </span>
        <% end %>
    <% end %>
</div>
