<%= content_for :css do %>
    <%= stylesheet_link_tag "statuses" %>
    <style>
        .status-new {
            border-color: black;
        }

        .status-btn {
            margin: 0 2px;
        }

        @media (min-width: 768px) {
            .status-btn {
                width: 15%;
            }
        }

        @media (max-width: 768px) {
            .status-btn {
                width: 33%;
            }
        }
    </style>
<% end %>

<div class="container">
    <div class="d-flex justify-content-center align-items-center my-4">
        <h1><%= @bug.title %></h1>
        <span class="fs-4 status status-<%= @bug.status %>"><%= @bug.status.capitalize %></span>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">URL</th>
                <td><%= @bug.url %></td>
            </tr>
            <tr>
                <th scope="row">Platform</th>
                <td><%= @bug.platform %></td>
            </tr>
            <tr>
                <th scope="row">User agent</th>
                <td><%= @bug.user_agent %></td>
            </tr>
        </tbody>
    </table>
    <pre class="border rounded">
        <h4 class="text-center"><%= @bug.body %></h4>
    </pre>
    <div class="d-flex justify-content-center">
        <% case @bug.status %>
        <% when "new" %>
            <%= render partial: "status_btn", locals: { status: "open", submit: "Open", color: "primary" } %>
            <%= render partial: "status_btn", locals: { status: "closed", submit: "Close", color: "secondary" } %>
            <%= render partial: "status_btn", locals: { status: "duplicate", submit: "Duplicate", color: "secondary" } %>
        <% when "open" %>
            <%= render partial: "status_btn", locals: { status: "solved", submit: "Solved", color: "success" } %>
            <%= render partial: "status_btn", locals: { status: "closed", submit: "Close", color: "secondary" } %>
        <% when "solved", "closed", "duplicate" %>
            <%= render partial: "status_btn", locals: { status: "open", submit: "Reopen", color: "primary" } %>
        <% end %>
    </div>
</div>
