<div class="position-fixed w-100 d-flex justify-content-center sticky-top" z-index="2000">
    <div id="bug-report" class="toast m-2 bg-white" style="width: 80vw; height: 80vh" role="alert" data-bs-autohide="false" aria-live="assertive" aria-atomic="true">

        <button type="button" class="btn btn-lg btn-close d-relative float-end p-3" data-bs-dismiss="toast" aria-label="close"></button>

        <div class="toast-body">
            <h1 class="text-center"><%= t("layouts.application.bug_report") %></h1>

            <div class="container">
                <%= form_with model: BugReport.new, url: bug_report_path do |form| %>
                    <p class="input-group">
                        <%= form.label :title, t("layouts.application.title_form"), class: "fs-4 input-group-text" %>
                        <%= form.text_field :title, placeholder: t("layouts.application.title_placeholder"), class: "form-control" %>
                    </p>

                    <p class="input-group">
                        <%= form.label :platform, t("layouts.application.platform"), class: "fs-4 input-group-text" %>
                        <%= form.text_field :platform, placeholder: t("layouts.application.platform_placeholder"), class: "form-control" %>
                    </p>

                    <p class="input-group">
                        <%= form.label :url, t("layouts.application.url"), class: "fs-4 input-group-text" %>
                        <%= form.text_field :url, placeholder: t("layouts.application.url_placeholder"), class: "form-control" %>
                    </p>

                    <%= form.text_field :user_agent, hidden: true, value: request.user_agent  %>
                    <%= form.text_field :original_url, hidden: true, value: request.path %>
                    <%= form.text_area :body, class: "form-control", rows: 6, value: t("layouts.application.bug_description") %>

                    <div class="text-center mt-2">
                        <%= form.submit class: "btn btn-success btn-lg", value: t("layouts.application.bug_report"), data: {disable_with: false} %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>