<%= form_with url: change_language_path, method: :patch, class: "w-full" do |form| %>
    <%= form.text_field :return_to, hidden: true, value: request.url %>
    <%= form.text_field :locale, hidden: true, value: locale %>
    <%= form.button class: "flex items-center w-full space-x-2 py-1 px-1 rounded hover:bg-gray-300 cursor-pointer", type: :submit do %>
        <%= image_tag "flags/#{locale}", class: "rounded h-6" %>
        <span class="hidden xsm:block"><%= tg("languages.#{locale}") %></span>
    <% end %>
<% end %>
