<!DOCTYPE html>
<html lang=<%= I18n.locale %>>
  <head>
    <%= render partial: "layouts/google_tag" %>
    <title><%= @title || t("layouts.application.title") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="<%= t("layouts.application.description") %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "freequiz/freequiz_logo.png" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="<%= "dark" if @user.nil? || @user.setting.dark_mode %> overflow-x-hidden dark:bg-gray-900 dark:text-white">
    <%= render partial: "layouts/notification" %>
    <%= render partial: "layouts/bug_report" %>
    <%= render partial: "layouts/navbar" %>
    <div class="mx-2 mt-2 <%= "sm:container" unless @no_container %>" style="min-height: 90vh;">
      <%= yield %>
    </div>
    <%= render partial: "layouts/footer" %>
  </body>
</html>
